*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin-bottom: 25px;
    font-family: 'Yellowtail', cursive;
    font-size: 75px;
}

button{
    background-color: orange;
    border: 1px solid white;
    color: white;
    padding: 15px 35px;
    font-size: 15px;
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

#container{
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 601px;
    width: 601px;
    border: 2px double black;
}

.innerCell{
    border: .5px dotted gray;
    display: block;
    float: left;
    box-sizing: border-box;
}

